{% block navbar %}
<nav class="navbar bg-gray-800 text-white p-4">
	<ul id="navbar-menu" class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8 transition-all duration-300 ease-in-out md:left-0 left-[-100%]">
		<li>
			<a href="/" class="text-lg hover:text-indigo-500 transition-colors duration-200">Accueil</a>
		</li>
		{% if app.user %}
			<li>
				<a href={{path('app_profil')}} class="text-lg hover:text-indigo-500 transition-colors duration-200">Profil</a>
			</li>
			<li>
				<a href={{path('app_deconnexion')}} class="text-lg hover:text-indigo-500 transition-colors duration-200">Se déconnecter</a>
			</li>
		{% else %}
		
			<a href={{ path('app_login')}} class="class="text-lg hover:text-indigo-500 transition-colors duration-200"">
				Connexion
			</a>
			<li>
				<a href="/inscription" class="text-lg hover:text-indigo-500 transition-colors duration-200">Inscription</a>
			</li>
		{% endif %}
	</ul>
</nav>

{% endblock %}